.head{
    background-image: url('../../assets/img/BackgroundHero.svg') ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.head-content{
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
    
}
.head-content h1{
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    color: rgb(255 255 255);
}
.head-content p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    max-width: 528px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(75 85 99 );
}

@media (max-width:768px){
   
    .head-content h1{
        font-size: 2.25rem;
    }
}